<div class="container mt-3">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <h2 class="card-header" style="text-align: center;">Register</h2>
                <div class="card-body">
                    <form #regform="ngForm" name="regform" (ngSubmit)="RegisterData(regform)">
                        <div class="form-group row">
                            <label for="name" class="col-sm-2 col-form-label"><i class="fa fa-address-book fa-lg" aria-hidden="true"></i> Full Name : </label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="CustName" [(ngModel)]="model.CustName" #CustName="ngModel" placeholder="Enter Full Name" required />
                                <br>
                                <span class="alert alert-danger alert-msg" *ngIf="CustName.errors?.required">Name is Required</span>
                            </div>
                            <label for="name" class="col-sm-2 col-form-label"><i class="fa fa-phone-square fa-lg" aria-hidden="true"></i> Mobile No. :</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="PhoneNo" [(ngModel)]="model.PhoneNo" #PhoneNo="ngModel" pattern="^[0-9]{10}$" placeholder="Enter Phone No." required />
                                <br>
                                <span class="alert alert-danger alert-msg" *ngIf="PhoneNo.touched && PhoneNo.errors?.required">Phone No. is Required</span>
                                <span class="alert alert-danger alert-msg" *ngIf="PhoneNo.errors?.pattern">MobNo has to be numeric and 10 digits</span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="Email" class="col-sm-2 col-form-label"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i> Enter Email:</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="Email" [(ngModel)]="model.Email" #Email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="Enter Email" required />
                                <br>
                                <span class="alert alert-danger alert-msg" *ngIf="Email.errors?.required">Email is Required</span>
                                <span class="alert alert-danger alert-msg" *ngIf="Email.errors?.pattern">Invalid Email Pattern</span>
                            </div>
                            <label for="name" class="col-sm-2 col-form-label"><i class="fa fa-phone-square fa-lg" aria-hidden="true"></i> Mobile No. :</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="PhoneNo" [(ngModel)]="model.PhoneNo" #PhoneNo="ngModel" pattern="^[0-9]{10}$" placeholder="Enter Phone No." required />
                                <br>
                                <span class="alert alert-danger alert-msg" *ngIf="PhoneNo.touched && PhoneNo.errors?.required">Phone No. is Required</span>
                                <span class="alert alert-danger alert-msg" *ngIf="PhoneNo.errors?.pattern">MobNo has to be numeric and 10 digits</span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="card">
    <div class="card-header">Register</div>
    <div class="card-body">
        <form #regform="ngForm" name="regform" (ngSubmit)="RegisterData(regform)">
            <div>
                <label>Name</label>
                <input type="text" name="CustName" [(ngModel)]="model.CustName" #CustName="ngModel" required>
                <span *ngIf="CustName.errors?.required">Name Cannot Be blank</span>
            </div>
            <div>
                <label>Phone Number</label>
                <input type="text" name="PhoneNo" [(ngModel)]="model.PhoneNo" #PhoneNo="ngModel" pattern="^[0-9]{10}$" required>
                <span *ngIf="PhoneNo.errors?.pattern">MobNo has to be numeric and 10 digits</span>
                <span *ngIf="PhoneNo.errors?.required">Number Cannot Be blank</span>
            </div>
            <div>
                <label>Email</label>
                <input type="text" name="Email" [(ngModel)]="model.Email" #Email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
                <span *ngIf="Email.errors?.required">Email Cannot Be blank</span>
                <span *ngIf="Email.errors?.pattern">Follow Email Restrictions</span>
            </div>
            <div>
                <label>Username</label>
                <input type="text" name="uname" [(ngModel)]="model.uname" #uname="ngModel" required>
                <span *ngIf="uname.errors?.required">Username Cannot Be blank</span>
            </div>
            <div>
                <label>Enter Password</label>
                <input type="password" name="pwd" [(ngModel)]="model.pwd" #pwd="ngModel" minlength="4" maxlength="10" required>
                <span *ngIf="pwd.errors?.required">Password is Required</span>
                
                <span *ngIf="pwd.errors?.minlength">Minimum 4 characters required</span>
            </div>
            <div>
                <label>Address</label>
                <textarea rows="5" cols="5" name="Address" [(ngModel)]="model.Address" #Address="ngModel" required>
                    </textarea>
                <span *ngIf="Address.errors?.required">Address Cannot Be blank</span>
            </div>
        
            <div>
                <label>Card Type</label>
                <input type="radio" name="Card" [(ngModel)]="model.Card" #Card="ngModel" required value="Gold">Gold
                <input type="radio" name="Card" [(ngModel)]="model.Card" #Card="ngModel" required value="Titanium">Titanium
                <span *ngIf="Card.errors?.required">Select CardType</span>
        
            </div>
            <div>
                <label>Bank Name</label>
                <input type="text" name="Bank" [(ngModel)]="model.Bank" #Bank="ngModel" required>
                <span *ngIf="Bank.errors?.required">BankName Cannot Be blank</span>
            </div>
            <div>
                <label>Account Number</label>
                <input type="text" name="Accountno" [(ngModel)]="model.Accountno" #Accountno="ngModel" required>
                <span *ngIf="Accountno.errors?.required">AccountNumber Cannot Be blank</span>
            </div>
            <div>
                <label>IFSC Code</label>
                <input type="text" name="ifsc" [(ngModel)]="model.ifsc" #ifsc="ngModel" required>
                <span *ngIf="ifsc.errors?.required">IFSCCode Cannot Be blank</span>
            </div>
            <div>
                <button type="submit" [disabled]="regform.invalid">Register</button>
            </div>
            <div>
                <button type="reset" [disabled]="regform.invalid">Reset</button>
            </div>
        </form>
    </div>
    <div class="card-footer">
        <button type="button" class="btn btn-outline-primary">Register</button>
    </div>
</div> -->
<app-footer></app-footer>
