<!-- Footer -->
<footer class="container-fluid" style="background-color: black;">

    <!-- Footer Elements -->
    <div class="container">
  
      <!-- Social buttons -->
      <ul class="list-unstyled list-inline text-center" style="margin-top:20px;padding-top:50px">
        <li class="list-inline-item">
            <a routerLink="Home" class="footer-link-style">
              Home
            </a>
            &nbsp;&nbsp;|
          </li>
        <li class="list-inline-item">
            <a routerLink="Login" class="footer-link-style">
              Login
            </a>
            &nbsp;&nbsp;|
          </li>
        <li class="list-inline-item pipe-style">
          <a routerLink="Register" class="footer-link-style">
            Register
          </a>
        </li>
      </ul>
      <!-- Social buttons -->
  
    </div>
    <!-- Footer Elements -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" style="color: white;">&copy; 2020 Larsen & Toubro Infotech Limited
      <a href="#">FMS.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
  <router-outlet></router-outlet>